body {
    background-color:rgb(163, 241, 255);
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    outline-width: 20px;
    outline-style: double;
    outline-offset: 0px;
    outline-color: rgb(255, 255, 255);
    outline-width: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
}
.boxtitle {
    background-color: rgb(255, 255, 255);
    min-height: 40px;
    min-width:550px;
    border-radius: 0px;
}
.whitebox {
    background-color: white;
    min-height: 120px;
    max-width: 1000px;
    min-width: 250px;
    border-style: solid;
    border-radius: 5px;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    }
.menu {
    text-align: center;
    text-indent: -30px;
    background-color: white;
    min-height: 100px;
    max-width: 1000px;
    min-width: 400px;
    border-radius: 5px;
}
li {
    margin-top: 7px;
}
button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 120px;
}

.logo {
    margin-top: 10px;
    background-color: white;
    min-width: 450px;
    min-height: 70px;
    text-align: center;
    border-radius: 20px;
    
}
picture {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    align-items: center;
}

code {
    display: flex;
    align-items: center;
    font-size: larger;
    border-color: white;
    border-width: 13px;
    border-style: solid;
}

.smallerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    border-color: white;
    border-width: 3px;
    border-style: outset;
    margin-block-end: 10px;
    background-color: white;
    border-radius: 5px;
}

hr {
    margin-top: 15px;
    min-width: 400px;
    border-color: white;
    border-width: 2px;
}

.rowblock {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.pictureborder {
    border-width: 10px;
    border-color: white;
    border-style: double;
    border-radius: 5px;
}

.columnblock {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap-reverse;
}

h2 {
    font-size: 14pt;
    outline-width: 20px;
    outline-style: double;
    outline-offset: 0px;
    outline-color: rgb(255, 255, 255);
    outline-width: 10px;
    max-width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boxtitle2 {
        text-align: center;
        background-color: rgb(255, 255, 255);
        min-height: 30px;
        min-width:200px;
        border-radius: 3px;
        margin-right: 40px;
    }
    
    .columnblock2 {
        display: flex; 
        justify-content: center; 
        flex-direction: column; 
        align-content: center; 
        flex-wrap: wrap-reverse;
    }